<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.druid_flyway_mybatis_mysql.mapper.UserMapper">
    <insert id="insert">
        insert into `user`(name, age) values(#{name}, #{age})
    </insert>
    <select id="findByName" resultType="com.example.druid_flyway_mybatis_mysql.entity.User">
        Select * from `user` where name = #{name} limit 1
    </select>
    <select id="findUserById" resultType="com.example.druid_flyway_mybatis_mysql.entity.User">
        select * from user where id= #{id}
    </select>
</mapper>

